@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
    box-sizing: border-box ;
}

body {
    font-family: "Montserrat" , sans-serif;
    display: block;
    align-items:center;
    justify-content: center;
    height: 100vh;
    margin:0;
}

#welcome {
    display: block;
    font-family: 'Merienda';
    align-self: center;
    text-align: center;
}

#top {
    display:flex;
    width: auto;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.top-button {
    background-color: darkblue;
    margin: none;
    width: 25%;
    display: flex;
    align-self: center;
}

.carousel {
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
height: 280px;
width:fit-content;
overflow: hidden;
align-self: center;
}

 img {
     width: 500px;
     height: 250px;
     object-fit: cover;
 }

.image-container {
display: flex;
transform: translateX(0);
transition: transform 0.5s ease-in-out;
}

.buttons-container {
display: flex;
justify-content: space-between;
}

.btn {
    background-color: olivedrab;
    color:#fff;
    border: none;
    width: 30%;
    cursor: pointer;
    padding: 0.5rem;
}

.btn:hover {
    opacity: .9;
}

.btn:focus {
    outline: none;
}

#Menu-title {
    font-family: 'Merienda';
    text-align: center;
}